extends layout

include mixins/icons/_check
include mixins/icons/_trash
include mixins/icons/_x-circle
include mixins/icons/_pencil

block narrow-content

  h1= objective.text 
    if (objective.completed)
      span &nbsp;
      span.badge.badge-sm= "Complete"
      span &nbsp;
    a(href=`/goals/${objective.goal.id}/objectives/${objective.id}/edit`)
      +pencil
  h2
    a(href=`/goals/${objective.goal.id}`) #{objective.goal.name}
  h4 Subtasks
  ul.objectives-list
    each subtask in objective.subtasks.filter(task => !task.completed)
      li
        span= subtask.text
        .objective-actions 
          form(action=`/objectives/${objective.id}/subtasks/${subtask.id}?_method=PUT` method="POST")
            input(type="hidden" name="completed" value="1")
            button(type="submit" class="icon-btn btn-transparent")
              +check
          form(action=`/objectives/${objective.id}/subtasks/${subtask.id}?_method=DELETE` method="POST")
            button(type="submit" class="icon-btn btn-transparent")
              +trash

  
  form(action=`/objectives/${objective.id}/subtasks` method="POST")
    input(type="text" name="text")
    input(type="submit" value="Add")

  if objective.subtasks.filter(task => task.completed).length > 0
    h4 Completed Subtasks
    ul.objectives-list 
      each subtask in objective.subtasks.filter(task => task.completed)
        li
          span= subtask.text
          .objective-actions 
            form(action=`/objectives/${objective.id}/subtasks/${subtask.id}?_method=PUT` method="POST")
              input(type="hidden" name="completed" value="0")
              button(type="submit" class="icon-btn btn-transparent")
                +x-circle
  hr
  h2 Actions 

  a(href=`/goals/${objective.goal.id}/objectives/${objective.id}/edit`) Edit Objective