extends layout

include mixins/icons/_pencil
include mixins/icons/_check
include mixins/icons/_trash
include mixins/icons/_x-circle

block narrow-content

  h1 #{goal.name} 
    a(href=`/goals/${goal.id}/edit`)
      +pencil
  p= goal.description

  //- a(href="/") Back to Goals

  h4 Objectives
  ul.objectives-list
    each objective in goal.objectives.filter(obj => !obj.completed)
      li
        span 
          a(href=`/goals/${goal.id}/objectives/${objective.id}`) #{objective.text}

          if objective.subtasks.length > 0
            ul.objective-subtask-list
              each subtask in objective.subtasks
                li= subtask.text

        .objective-actions
          form(action=`/goals/${goal.id}/objectives/${objective.id}/complete?_method=PUT` method="POST")
            input(type="hidden" name="completed" value="1")
            button(type="submit" class="icon-btn btn-transparent")
              +check
          form(action=`/goals/${goal.id}/objectives/${objective.id}?_method=DELETE` method="POST")
            button(type="submit" class="icon-btn btn-transparent")
              +trash
  
  form(action=`/goals/${goal.id}/objectives` method="POST")
    .input-row
      input(type="text" name="text")
      input(type="submit" value="Add")
    
  if goal.objectives.filter(obj => obj.completed).length > 0
    h4 Completed Objectives
    ul.objectives-list
      each objective in goal.objectives.filter(obj => obj.completed)
        li
          span 
            a(href=`/goals/${goal.id}/objectives/${objective.id}`) #{objective.text}
          .objective-actions
            form(action=`/goals/${goal.id}/objectives/${objective.id}/complete?_method=PUT` method="POST")
              input(type="hidden" name="completed" value="0")
              button(type="submit" class="icon-btn btn-transparent")
                +x-circle