extends layout

block content

  h1= goal.name 

  a(href="/") Back to Goals

  h4 Objectives
  ul.objectives-list
    each objective in goal.objectives.filter(obj => !obj.completed)
      li
        span 
          a(href=`/goals/${goal.id}/objectives/${objective.id}`) #{objective.text}
        .objective-actions
          form(action=`/goals/${goal.id}/objectives/${objective.id}/complete?_method=PUT` method="POST")
            input(type="hidden" name="completed" value="1")
            input(type="submit" value="Mark as Complete")
          form(action=`/goals/${goal.id}/objectives/${objective.id}?_method=DELETE` method="POST")
            input(type="submit" value="Delete")
    
  if goal.objectives.filter(obj => obj.completed).length > 0
    h4 Completed Objectives
    ul.objectives-list
      each objective in goal.objectives.filter(obj => obj.completed)
        li
          span 
            a(href=`/goals/${goal.id}/objectives/${objective.id}`) #{objective.text}
          .objective-actions
            form(action=`/goals/${goal.id}/objectives/${objective.id}/complete?_method=PUT` method="POST")
              input(type="hidden" name="completed" value="0")
              input(type="submit" value="Mark as Incomplete")

  hr
  h2 Actions
  //- form(action=`/objectives/${objective.id}?_method=DELETE` method="POST")
  //-   input(type="submit" value="Delete")

  form(action=`/goals/${goal.id}/objectives` method="POST")
    input(type="text" name="text")
    input(type="submit" value="Add")

  a(href=`/goals/${goal.id}/edit`) Edit Goal