extends layout

block content

  h1= objective.text 

  pre= objective

  ul
    each subtask in objective.subtasks 
      li
        div
          span #{subtask.text}
          form(action=`/objectives/${objective.id}/subtasks/${subtask.id}?_method=DELETE` method="POST")
            input(type="submit" value="Delete")

  hr
  h2 Actions
  form(action=`/objectives/${objective.id}?_method=DELETE` method="POST")
    input(type="submit" value="Delete")

  form(action=`/objectives/${objective.id}/subtasks` method="POST")
    input(type="text" name="text")
    input(type="submit" value="Add")